#sec1{
    margin:auto;
    // background-image:url(../images/number-bg@2x.jpg);
    background-size:cover;
    background-position:center;
   // background-image:url('../images/banner-bg@2x.jpg');

   height: 819px;
    .inner{
        height: 819px;
        max-width: 950px;
        margin: auto;
        display: flex;
        align-items: center;

        .site-logo{
            position: absolute;
            right:0;
            img{
                width: 650px
            }
        }


        .top_header{
            max-width: 584px;;
            color:#fff;
            h2{
                font-size:40px;
                line-height: 50px;;
                font-weight: bold;
            }
            p{
                font-size:12px;
                line-height: 18px;;
                max-width: 416px;;
                margin-bottom: 25px;;
            }
            a{
                font-size: 14px;;
                letter-spacing: 1px;;
                height:40px;
                width:148px;
                justify-content: center;
            }
        }
    }
}


@media (max-width: 1200px){

    #sec1 .inner .top_header{
        padding: 0 20px;
    }
}


@media (max-width: 768px){
    #sec1{
        height: 699px;
        background-size:cover;
        background-position:center;
        background-image:url('../images/banner_2.jpg');
    }
    #sec1 .inner{
        height:699px;
    }
    #sec1 .parallax{
        opacity: 0;
    }
}